body {
  background-image: url('https://wallpapersmug.com/download/1366x768/38cefb/rick-and-morty-synthwave.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  /* margin-top: 50px; */
  padding-top: 50px;
}